.SelectScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 30em;
    margin: 0 auto;
    padding: 2em;
}

.SelectScreen-field {
    width: 100%;
    min-width: 20em;
    margin: .5em 0;
    padding: .8em;
    font-size: .9em;
    border: none;
}

.SelectScreen-button {
    padding: .8em;
    color: white;
    font-size: .9em;
    border: 2px solid white;
    background: none;
    cursor: pointer;
    transition: .4s ease;
    transition-property: color, background-color;
}

.SelectScreen-button:hover {
    background: white;
    color: #d1913c;
}

.SelectScreen-radio {
    visibility: hidden;
    position: absolute;
    left: -999em;
}

.SelectScreen-label {
    color: white;
    margin: .5em 0;
    padding: .5em;
}

.SelectScreen-radio:checked + .SelectScreen-label {
    background-color: white;
    color: #d1913c;
}

.SelectScreen-constraint {
    position: absolute;
    bottom: -3em;
    width: 80%;
    margin: 1em auto;
    padding: .5em;
    font-size: .8em;
    color: white;
    text-align: center;
    background-color: rgba(36, 31, 31, 0.5);
    border-radius: .5em;
}